
body{
    overflow-y: hidden;

}
.go-back{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.vai-descrizione, .freccia-main{
    margin-right: 10%;
    font-weight: 600;
    font-size: 18px;
}
.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    flex-grow: 1;
    
}
.content-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 100%;
    
}
.img-gallery{
    height: 70vh;
    margin: 0 10vw 0 0;
    
}
section{
    scroll-snap-align: start;
}
.gallery-space{
    display:block;
    width: 30vw;
    margin:0 15px ;
}
.gallery-slider{
    align-self: flex-start;
    display: flex;
    width: 58.5vw;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: X mandatory;
}
.puntini{
    margin-left: 9%;
}
.pallino-grigio{
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 5px;
    background-color: #E5E5E5;
    border-radius: 50%;
    position: relative;
}
.pallino-active{
    display: none;
    width: 32px;
    height: 32px;
    border-style: solid;
    border-radius: 50%;
    border-color: red;
    border-width: 1px;
    position:absolute;
    top: -9px;
    right: -9px;
}
.active{
    background-color:#D61A0C;
}
.data-grande{
    font-size: 80px;
    position: absolute;
    bottom: 60px;
    left: -120px;
    font-style: normal;
    font-weight: 500;
}
.titolo-grande{
    font-size: 80px;
    position: absolute;
    top: 170px;
    right: -290px;
    font-weight: 500;

}
@media(min-width:871px){
    p{
        display: none;
    }
    .mobile-gallery-nav{
        display: none;
    }
    .barra-superiore-mobile{
        display: none;
    }
    .il-progetto-mobile{
        display: none;
    }
    .mobile{
        display: none;
    }
}
@media(max-width: 1400px){

        .gallery-slider{
            align-self: center;
            flex-direction: column;
            scroll-snap-type: Y mandatory;
            overflow-y: scroll;
        }
        .img-gallery{
            margin: 0 0 10vw 0;
        }
        .go-back{
            align-self: flex-start;
        }
        .puntini{
            position: fixed;
            display: flex;
            flex-direction: column;
            right: 10%;
        }
        .pallino-grigio{
            margin: 5px 0;
        }
        .content-wrap{
            justify-content: center;
            margin-top: 15%;
        }
        .data-grande{
            bottom: 150px;
        }
        .titolo-grande{
            top: 50px;
        }
        .img-gallery{
            height: 70vh;
            width: auto;
        }
         
        



}
@media(max-width: 871px){
    sidebar{
        display: none;
        width: 0;
    }
    body{
        height: auto;
    }
    main{
        margin: 0;
        
    }
    .main-wrapper{
        width: 100vw;
        
    }
    .gallery-slider{
        flex-direction: row;
        overflow-x: scroll;
        width: 80vw;
        scroll-snap-type: X mandatory;
    }
    .titolo-grande{
        font-size: 40px;
        right: 1%;
        top:55px;
        
    }
    .data-grande{
        bottom: 10px;
        position: absolute;
        display: none;
        
    }
    .img-gallery{
        height: auto;
        width: 80vw;
        
    }
    .puntini{
        position: relative;
        flex-direction: row;
        align-self: flex-end;
        right: 0;
    }
    .pallino-grigio{
        margin: 0 5px;
    }
    .content-wrap{
        width: 80%;
        justify-content: flex-start;
        overflow-y: scroll;
        margin-top: 0%;
    }
    section{
        width: 100%;
    }
    p{
        height: 10%;
        text-align: left;
    }
    .freccia-main{
        width: 20%;
        margin-right: 0;
    }
    .mobile-gallery-nav{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding:10% 0;
    }
    .mobile-nav-link-wrapper{
        display: flex;
        flex-direction: row;
    }
    .mobile-nav-link-wrapper div{
        font-weight: 500;
    }
    .mnlw-right{
        justify-content: flex-end;
    }
    .barra-superiore-mobile{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 5%;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
    }
    .barra-superiore-mobile img{
        width: 20%;
    }
    .go-back{
        margin-bottom: 5%;
    }
    .il-progetto-mobile{
        font-weight: 600;
    }
    .il-progetto{
        display: none;
    }
    .desktop{
        display: none;
    }
}