@media screen and (max-width: 700px) {
  .flexbox{
    flex-direction: column;
  }
}



header{
  background-color: lightgray;
  padding: 50px;
  text-align: center;
  font-family: helvetica;

}
 .titolo {
   margin: 5pt;

 }

 .sottotilo {
   margin:0;
 }
body{width:100%;
  margin:0;
}

.nav {
  padding: 10px;
  margin:0;
  background-color: #181818;
  width: auto;
  font-family:helvetica;

}


.nav li {

  list-style-type: none;
  display: inline;
  padding:0px 10px 10px 10px;


}


li a{
  text-decoration:none;
  text-align:center;
  color:white;
}


li a:hover {
  color:lightblue;

}
.flexbox{
  display: flex;
  display-direction:row;
  font-family: helvetica;
}

.left {
  flex: 25%;
  padding:20px;
  background-color: lightgray;
}

.right{
  flex: 75%;
  padding: 20px;

}
