nav {
  position:fixed;
  background-color: #181818;
  width: 100%;
  padding:0;
  margin:0;
  font-family:helvetica;



}

nav li {
  float:left;
  list-style-type: none;
  display: inline-block;
  padding:0px 10px 10px 10px;
  margin:0;


}

li a{
  text-decoration:none;
  text-align:center;
  color:white;
}


li a:hover {
  color:lightblue;
  height:100%;
  display:inline-block;
}

.contenuto {
  display:none;
  position:absolute;
  background-color:white;
  width:auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;



}

.contenuto a {
  text-align:left;
  display:block;
  padding:10px;
  color:black;

}
.tendina:hover .contenuto{
  display:block;


}
